<html>
<head>
    <title>abcd</title>
   
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    
    
    <!-- <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script> -->
    <!-- <script>window.i18n = new(require('../../translations/i18n.js'));</script>
    <script>
        require('../../static/scripts/translations.js')
        require('../../static/scripts/ipc.js')
    </script> -->
    
    
</head>
<body class="container">
        